<section>
  <div class="container">
    <h3>Login</h3>
    <form [formGroup]="form" (ngSubmit)="login()" novalidate>
      <div class="row">
        <div class="col-12">
          <app-input formControlName="username"
            t-type="text"
            t-label="Usuário">
          </app-input>
        </div>
        <div class="col-12">
          <app-input formControlName="password"
            t-type="password"
            t-label="Senha">
          </app-input>
        </div>
      </div>
      <div class="row justify-content-end m-0">
        <button mat-raised-button color="primary">Entrar</button>
      </div>
    </form>
  </div>
</section>
